// https://coolors.co/0b122b-1b243f-354c6b-59bfbd-ffffff
$color1: #0b122b;
$color2: rgba(27, 36, 63, 1);
$color3: #354c6b;
$color4: #59bfbd;
$color5: #ffffff;

$header_background: #444;
$footer_background: #444;

$border_col: #4e4e4e;
$background: #f4f4f4;
$background_alt: #ffffff;
$foreground: #6f6f6f;

$primary: #a78068;
$accent: #354c6b;

$primary_foreground: #ffffff;
$accent_foreground: $color5;

$padding_small: 10px;


$border_line: 1px solid darken($background, 10);